<html>
	<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Raspberry Pi camp's Registration</title>
	</head>
	<body>
		<h1>Raspberry Pi camp's Registration</h1>
		<h3>กรุณากรอกข้อมูลของคุณ</h3>
		<form method="POST" action="/">
			<table>
			<tr><td align="right">ชื่อ :</td><td><input placeholder="name" id="name_id" name="name_id" ></td><tr>
            		<tr><td align="right">นามสกุล :</td><td><input placeholder="surname" id="surname_id" name="surname_id" ></td><tr>
            		<tr><td align="right">ชื่อเล่น :</td><td><input placeholder="nickname" id="nickname_id" name="nickname_id" ></td><tr>
            		<tr><td align="right">อายุ :</td><td><input placeholder="age" id="age_id"  name="age_id" ></td><tr>
            		<tr><td align="right">ที่อยู่ :</td><td><input placeholder="address" id="address_id" name="address_id"  ></td><tr>
            		<tr><td align="right">โรงเรียน :</td><td><input placeholder="school" id="school_id"  name="school_id" ></td><tr>
            		<tr><td align="right">เบอร์โทรศัพท์ :</td><td><input placeholder="telephone" id="telephone_id" name="telephone_id" ></td><tr>

            		<tr><td></td><td align="right"><input type="submit" value="ลงทะเบียน" id="regis_id" name="regis_id" >
            		<input type="hidden" value="hidden_regis" name="submit_regis" >
            		{% csrf_token %}</td><tr></a>
        	</form>
	</body>
</html>
