<html>
	<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Raspberry Pi camp's Registration</title>
	</head>
	<body>
		<h1>Raspberry Pi camp's Registration</h1>
		<h2 align="center">การลงทะเบียนสำเร็จ<br>
		<form method="POST" >
			<input type="submit" value="ย้อนกลับไปหน้าลงทะเบียน" id="home_id" >
            		<input type="hidden" value="hidden_home" name="submit_home" >
            		{% csrf_token %}
        	</form></h2>
	</body>
</html>
